* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  background: $color-gray-2;
  color: $color-foreground;
  font-family: $font-family-primary;
}

body {
  background-color: $color-gray-2;
}

a,
a:visited {
  color: $color-accent;
}

a:focus,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  border-bottom: none;
  color: inherit;
}
